body {
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.donation-button {
    background-color: #e6f9ff;
    /* Light blue */
    border: none;
    padding: 15px 30px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}

.done-button {
    background-color: #4CAF50;
    /* Green */
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
}

#other-amount {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin-bottom: 20px;
}